/* reset css */
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(background.jpg);
  background-size: cover;
  color: #fff;
}

/* style navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-kanan{
  display: flex;
}

.logo{
  margin-left: 20px;
  font-weight: bold;
}

.bag-kanan p{
  margin-right: 20px;
}

/* Style isi */
.isi {
  width: 60%;
  margin-top: 25vh !important; /* !important untuk menjadikan selector ini yang utama, jadi kalau ada seelctor sama trs ditambahi selector tertentu tidak rubah maka bisa ditambahkan !important*/
  margin: 0 auto; /* Ini juga bisa dituker diatas kalau ingin menghilangkan !important jadi hasilnya tetap akan berjalan, kan bacanya per baris dari atas*/
  text-align: center;
}

.isi h1{
  color: yellow;
}

.clock{
  margin-top: 6vh !important;
  margin: 0 auto; /* bisa ketengah sendiri.. waw*/
  width: 180px;
  font-size: 42px;
  border: 2px solid #eee;
  padding: 15px 30px;
  border-radius: 70px;
}

/* Style Footer */
.footer{
  width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.footer p a{
  color: #fff;
}
